.btn.active {
  font-weight: bold;
  background-color: transparent;
}

.btn.active:hover {
  background-color: #6c757d;
}

.textarea {
  resize: none;
}

.cover-image {
  object-fit: cover;
  object-position: center;
}

.trends {
  background-color: #c7ebbe;
}

.super-small-text {
  font-size: 0.75rem;
}

.extra-super-small-text {
  font-size: 0.6rem;
}

.btn-outline-secondary:hover {
  background-color: #c7ebbe;
}

.btn-outline-secondary.active:hover {
  background-color: #c7ebbe;
}

.messages-container {
  position: fixed;
  bottom: 0;
  right: 1em;
  width: 270px;
  box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px,
    rgb(101 119 134 / 15%) 0px 0px 3px 1px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: 1032;
  background-color: white;
}

.round-button {
  padding: 18px;
}

.round-button-icon {
  transform: translate(-50%, -50%);
}

svg.stars-icon {
  width: 24px;
}

.high-index {
  z-index: 1032;
}

.low-index {
  z-index: 1031;
}

.round-image {
  width: 58px;
  height: 58px;
}

.home-padding {
  padding-top: 53px;
}
